@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "TabacBigSans-Regular";
    src: url("../src/fonts/Tabac\ Big\ Sans\ Regular.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "TabacBigSans-Bold";
    src: url("../src/fonts/Tabac\ Big\ Sans\ Bold.otf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "TabacBigSans-SemiBold";
    src: url("../src/fonts/Tabac\ Big\ Sans\ SemiBold.otf");
    font-weight: 600;
    font-style: normal;
  }